body{
    width: 100% ;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
main{
    width: 100%;
}
.card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    
}
.switchContainer{
 display: flex;
 flex-direction: row;
 align-content: space-around;
}

// box al rededor del input (tag label)
.switch__toggle{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  
}
// switch: es el input. Aquí se esta ocultando el HTML por default que tiene. 
 .input{
    opacity: 0;
    width: 0;
    height: 0;  
}

// tag span. Este es el que hará el efecto "slider" 
.slider__round{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider__round:before{
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

 .input:checked + .slider__round{
    background-color: #2196F3;
}

.input:focus + .slider__round{
    box-shadow: 0 0 1px #2196F3;
}
.input:checked + .slider__round:before{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.listContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    
}
.list{
    list-style: none;
}

button{
    width: 150px;
    height: 30px;
    border-radius: 40px;
}


